.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr 70px;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  'head_line head_line'
  'nav content'
  'footer footer';
  height: 100vh;
  margin: 0 auto;
  width: 1200px;
}
.app-wraper-content {
  grid-area: content;
  max-width: 1200px;
}
.active {
  background-color: gold;
}