.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    
}
.dialogs__item {
    background-color: aquamarine;
    

}

.dialog{
    padding: 10px;
    text-decoration: none;

}
.messages__item{
background-color: blueviolet;

}
.message{
    padding: 10px;

}
