.nav__bar {
    grid-area: nav;
    background-color: rgb(148, 207, 88);
    padding: 20px
    
  }
  .item a {
    color: white;
    text-decoration: none;
  }
  .item a.activelink {
    color: gold;
  }